div.codex-editor__redactor {
  padding-bottom: 20px !important;
}

.ce-paragraph {
  text-align: left;
}

.cdx-list {
  text-align: left;
}

.cdx-quote {
  text-align: left;
}

.image-tool__image {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1.ce-header {
  font-size: 28px;
}

h2.ce-header {
  font-size: 24px;
}

h3.ce-header {
  font-size: 22px;
}

.ce-paragraph {
  font-size: 18px;
}

.cdx-list__item {
  font-size: 18px;
}

.MuiInputLabel-root {
  font-size: 1.25rem !important;
}

@media (max-width: 800px) {
  .makeStyles-root-14 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .MuiIconButton-label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    padding-top: 22.5%;
    padding-bottom: 20%;
  }
  .makeStyles-root-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Mui-selected {
    background-color: #12d3cf !important;
  }
}

a {
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  color: #12d3cf;
}

a::after {
  content: "";
  background: rgba(18, 211, 207, 0.25);
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: -1;
  -webkit-transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

a:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}
