  .pageWrap {
    background: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(black, 0.33);
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 1px;
  
    > * {
      padding: 1rem;
      text-align: center;
    }
  
    @media (max-width: 600px) {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      > * {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
      }
    }
  }
  
  .pageHeader {
    grid-column: 1 / -1;
    background: #ffcdd2;
  }
  
  .pageSidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: #e1bee7;
  }
  .pageNav {
    grid-column: 2 / 3;
    background: #bbdefb;
  }
  .pageMain {
    grid-column: 2 / 3;
    background: #dcedc8;
}
.pageFooter {
  grid-column: 1 / -1;
  background: #ffecb3;
}