.pageWrap {
  background: white;
  height: calc(100vh - 10px);

  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 4fr);
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 1px;

  > * {
    padding: 1rem;
    text-align: center;
  }

  @media (max-width: 600px) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    > * {
      grid-column: 1 / -1 !important;
      grid-row: auto !important;
    }
  }
}

.pageHeader {
  grid-column: 1 / -1;
}

.pageSidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
.pageNav {
  grid-column: 2 / 3;
}
.pageMain {
  grid-column: 2 / 3;
}
.pageFooter {
  grid-column: 1 / -1;
}

.loader {
  border: 10px solid var(--color-bg); 
  border-top: 10px solid var(--color-blue); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}